@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');

:root {
    --White: hsl(0, 0%, 100%);
    --Light-pink: hsl(275, 100%, 97%);
    --Grayish-purple: hsl(292, 16%, 49%);
    --Dark-purple: hsl(292, 42%, 14%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    width: 100%;
    font-size: 16px;
    font-family: 'Work Sans', sans-serif;
    background-image: url(assets/images/background-pattern-desktop.svg);
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    background-color: var(--Light-pink);
}

.container {
    width: 460px;
    margin: 120px auto;
}

.wrapper {
    background-color: white;
    border-radius: 8px;
    padding: 18px;
}

.heading img {
    width: 24px;
}

.heading {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 30px;
}

.question {
    font-weight: 600;
    font-size: 13px;
}

.faqs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.faqs img {
    width: 20px;
}

.answer {
    color: var(--Grayish-purple);
    font-weight: 400;
    font-size: 13px;
}

.hidden {
    display: none;
}